{% extends "base.html" %}
{% load i18n static %}

{% block title %} - Visualización{% endblock %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
{% endblock %}

{% block content %}
    <div id="app-visualizer">

        <!-- Header -->
        <b-navbar class="navbar navbar-dark" style="background-color: #6c757d;">
            <a class="navbar-brand navbar-dark">{% trans "Decide Visualization" %}</a>
            
            <b-navbar-nav class="ml-auto">
                <!-- Links to contactUs and aboutUs views -->
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-right: 4px;">
                    <button class="btn btn-secondary" type="submit" onclick="window.history.go(-1);">{% trans "Return" %}</button>
                </div>
            </b-navbar-nav>
        </b-navbar>

        <!-- Footer -->
        <b-navbar class="navbar navbar-dark" style="background-color: #6c757d; margin-top: 20px;">
            <div class="container">
                <span class="navbar-text" style="color: white;">{% trans "Evolution and Configuration Management" %} · <em>Decide</em></span>
                <span class="navbar-text navbar-right" style="color: white;">Decide Pícaro · Visualización &copy; 2021</span>
            </div>
        </b-navbar> 
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="http://java.sun.com/jsp/jstl/core"></script>
    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'js/mfb.js' %}"></script>

    <script>
        var data=[];var labels=[];var colores=[]; var numeros="0123456789ABCDEF";var almohadilla="#";var color="";
        var postproc=voting.postproc;

        function getColoresRandom(){
            var colorRandom='#'+Math.random().toString(16).substr(-6);
           return colorRandom;
        }

        for(var i=0;i<postproc.length;i++){
            data.push(postproc[i].votes)
            labels.push(postproc[i].option)
            color= getColoresRandom()
            colores.push(color)
        }
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data:{
                datasets: [{
                    data: data,
                    backgroundColor: colores,
                    label: 'Número de votos'}],
                    labels: labels},
            options: {responsive: true}
            });
    </script>  
    <script>
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookies = decodedCookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var c = cookies[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        function checkCookie() {
            var activatedTheme = getCookie("theme");

            if (activatedTheme == "dark") {
                activateDarkMode();
            }
        }
        function activateDarkMode() {
            document.body.className = "bg-dark"
            document.getElementById("lightButton").style.display = "inline"
            document.getElementById("darkButton").style.display = "none"
            document.getElementById("text").style.color = "white"
            setCookie("theme", "dark", 365);
        }
        window.onload = checkCookie();
    </script>   

{% endblock %}
