{% extends "base.html" %}
{% load i18n static %}

{% block title %} - Visualización{% endblock %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

        <!-- Header -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">{% trans "Decide Visualization" %}</b-navbar-brand>
            
            <b-navbar-nav class="ml-auto">
                <!-- Links to contactUs and aboutUs views -->
                <!--<a class="nav-link nav-item active" onclick="window.location.href=getURLContactUs();">{% trans "Contact us" %}</a>
                <a class="nav-link nav-item active" onclick="window.location.href=getURLAboutUs();">{% trans "About us" %}</a>-->

                <!-- Dark mode and light mode buttons -->
                <button id="lightButton" type="button" class="btn btn-light btn-sm pull-xs-right" style="display: none"
                    onclick="activateLightMode()">{% trans "Light mode" %}</button>
                <button id="darkButton" type="button" class="btn btn-dark btn-sm pull-xs-right" style="display: inline"
                    onclick="activateDarkMode()">{% trans "Dark mode" %}</button>
            </b-navbar-nav>
        </b-navbar>

        <!-- Footer -->
        <b-navbar type="dark" variant="secondary" style="margin-top: 20px;">
            <div class="container">
                <span class="navbar-text" style="color: white;">{% trans "Evolution and Configuration Management" %} · <em>Decide</em></span>
                <span class="navbar-text navbar-right" style="color: white;">Decide Pícaro · Visualización &copy; 2021</span>
            </div>
        </b-navbar> 

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="http://java.sun.com/jsp/jstl/core"></script>
    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'js/mfb.js' %}"></script> 
    
    <script>
        // Light mode and dark mode scripts
        function activateLightMode() {
            document.body.className = "bg-light"
            document.getElementById("lightButton").style.display = "none"
            document.getElementById("darkButton").style.display = "inline"
            document.getElementById("text").style.color = "black"
        }

        function activateDarkMode() {
            document.body.className = "bg-dark"
            document.getElementById("lightButton").style.display = "inline"
            document.getElementById("darkButton").style.display = "none"
            document.getElementById("text").style.color = "white"
        }
    </script>
    
{% endblock %}
