{% extends "base.html" %}
{% load i18n static %}

{% block title %} - Visualización{% endblock %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'css/footer.css' %}" />
    
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide Visualización</b-navbar-brand>
            
            <b-navbar-nav class="ml-auto">
                <!-- Choose de language -->
                <b-nav-item-dropdown text="Lang" right>
                    <b-dropdown-item href="#">ES</b-dropdown-item>
                    <b-dropdown-item href="#">EN</b-dropdown-item>
                </b-nav-item-dropdown>

                <!-- Dark mode and light mode buttons -->
                <button id="lightButton" type="button" class="btn btn-light btn-sm pull-xs-right" style="display: none"
                    onclick="activateLightMode()">Modo claro</button>
                <button id="darkButton" type="button" class="btn btn-dark btn-sm pull-xs-right" style="display: inline"
                    onclick="activateDarkMode()">Modo oscuro</button>
            </b-navbar-nav>
        </b-navbar>
        <!-- Visualizacion por defecto de decide
        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        -->
        <footer class="footer">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text">Evolución y Gestión de la Configuración · <em>Decide</em></p>
                    <p class="navbar-text navbar-right">Decide Pícaro - Visualización &copy; 2021</p>
                </div>
            </nav>
        </footer>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>

    <script>
        function activateLightMode() {
            document.body.className = "bg-light"
            document.getElementById("lightButton").style.display = "none"
            document.getElementById("darkButton").style.display = "inline"
        }

        function activateDarkMode() {
            document.body.className = "bg-dark"
            document.getElementById("lightButton").style.display = "inline"
            document.getElementById("darkButton").style.display = "none"
        }

        //window.onload = activateDarkMode();
    </script>
{% endblock %}
