@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
.voting {
    margin-top: 20px;
    margin-left: 40px;
}
.voting h2 {
    margin-bottom: 25px;
}
.voting .theTable {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 15%;
    margin-right: 15%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.voting .theTable .tb {
    margin: 20px;
}
.voting .theTable .tb th, td {
    border-bottom: 2px solid #ddd;
}
.voting section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 23%;
    background: white;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}