{% extends 'base.html' %}
 
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

<blockquote class="blockquote">
  <p class="mb-0">The confirmation link was invalid, possibly because it has already been used. Please try again later.</p>
  <footer class="blockquote-footer">DECIDE AUTHENTICATION.</footer>
</blockquote>
{% endblock %}