<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% extends 'base.html' %}
{% block content %}
<div class="container d-flex p-2 justify-content-center">
<aside class="col-sm-4">
 
    <div class="card">
        <h4 class="card-title mb-4 mt-1 text-center">  Datos de {{username}}</h4>
    <article class="card-body">	
        <hr>
        <form method="GET">
			{% csrf_token %}
        <div class="form-group">
            <h6>Nombre de usuario:</h6>
            <input readonly name="username" class="form-control" placeholder="" type="text" value="{{username}}">
        </div> <!-- form-group// -->
        <div class="form-group">
            <h6>Nombre:</h6>
            <input readonly name="first_name" class="form-control" placeholder="" type="text" value="{{first_name}}">
        </div> <!-- form-group// -->    
        <div class="form-group">
            <h6>Apellidos:</h6>
            <input readonly name="last_name" class="form-control" placeholder="" type="text" value="{{last_name}}">
        </div> <!-- form-group// -->   
        <div class="form-group">
            <h6>Email:</h6>
            <input readonly name="email" class="form-control" placeholder="" type="text" value="{{email}}">
        </div> <!-- form-group// -->
        <div class="col-md-5">
            <div class="form-group">
                <a href="../editprofile/{{username}}" class="btn btn-outline-primary">Editar Perfil</a>
            </div>
        </div>
        <div class="col-md-5">
            <a href="../deleteprofile/{{username}}" class="btn btn-outline-danger">Borrar usuario</a>    
        </div>                                                                                                                                                                                                
    </form>
    </article>
    </div> <!-- card.// -->
    </aside> <!-- col.// -->
	</div> <!-- container.// -->
 
 
{% endblock %}